<% include ../partials/header %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://wallpapercave.com/wp/wp2189152.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 class="intrans">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container sub_animation">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 style="padding-bottom:20px">Our Partners </h2>
              <div class="row my-3">
                <div class="col-11 border-bottom border-secondary" style="padding:15px 0">
                  <a href="http://www.ohyoung.net/" target="_blank"><img style="width:130px;height:100px" class="rounded mx-auto d-block float-left mt-4" src="http://www.ohyoung.net/eng/images/include/logo.gif"></a>
                  <!--<h4 style="font-size:20px" class="heading font-weight-normal float-right my-3">OHYOUNG</h4>-->
                  <p class="caption d-flex align-self-center">
                    OHYOUNG was founded in 1981 to specialize in the manufacture of synthetic dyes for different fiber types. Over the past three decades, our track record of introducing exclusive technological innovations in the field of reactive dyes for textiles has been the envy of the world’s leading dye manufacturers. Our growth has been a chieved in tandem with that of the Korean textile industry and has made a valuable contribution to our country’s national competitiveness.The superior product ranges of OHYOUNG are the direct result of the company’s intellectual energy. OHYOUNG’s research institute is devoted to constant research and development, utilizing and developing exclusive technology.
                  </p>
                </div>
                <div class="col-11 border-bottom border-secondary" style="padding:15px 0">
                  <a href="http://www.daelimlab.com/" target="_blank"><img style="width:190px;height:90px" class="rounded mx-auto d-block float-left mt-4" src="http://www.daelimlab.com/home/images/main_04.jpg"></a>
                  <p class="caption d-flex align-self-center">
                    Since its establishment in 1997, Daelim Starlet has been developing Textile Dyeing Tester such as CCK, Steamer, Tenter, IR Dyeing machine, etc...
and is recognized for superior quality with world-class technology from the domestic and overseas market,
Based on those foundations, we will be a leader in the textile machinery industry in the 21st century, and will becomea global company that provides the best value through contrast change and innovation.

                  </p>
                </div>
                <div class="col-11" style="padding:15px 0">
                  <a href="http://samw21.koreasme.com/en/" target="_blank"><img style="width:190px;height:90px" class="rounded mx-auto d-block float-left mt-4" src="http://samw21.koreasme.com/en/img/main/logo.gif"></a>
                  <p class="caption d-flex align-self-center">
                    Samwon Industry has core technology for manufacturing fluorescent brighteners used for upstream industries such as textile, plastic and paper, and is recognized in both domestic and overseas markets with its monopolistic and oligopolistic products.As its products for wood free paper and art paper under production have high quality and added value, they will be demanded in both domestic and overseas markets. Also, its other multi-purpose and environment-friendly products will rule the market thanks to its technological advantages.
                  </p>
                </div>
              </div>
            <hr>
            <h2>Vision</h2>
            <p>Alrowad’s vision is to be Egypt Leader in Dyes products and related services.</p>
            <hr>
            <h2>Slogan & Mission Statement</h2>
            <h4><em>Providing Excellence ® </em></h4>
            <p>Provide the Best Products, with the Greatest Service Possible</p>
            <hr>
            <h2>Organization Values</h2>
            <ul>
                <li><strong>Commitment to Excellence :</strong> Provide World Class products, perform at the highest level, exemplifying individual ownership.</li>
                <li><strong>Team Belvedere :</strong> Succeed through teamwork.</li>
                <li><strong>Service to Society :</strong>  Environmental Protection Products and Solutions.</li>
                <li><strong>Value against Money :</strong> Quality Products with Competitive Price.</li>
            </ul>
            <hr>
          
            <p>AL Rowad Chemicals® is one of the largest Chemical Trading companies in Egypt with more than 25 Years in providing high quality textile and dying products, with special focus on reactive (Cotton) dyes staff, Disperse dyes staff and others.</p>
            <p>AL Rowad Chemicals® is the sole agent for Ohyoung (South Korea), one of the prestigious companies producing dyestuff.</p>
            <p>AL Rowad Chemicals® has more than 30 Percent of Egypt Market share in Reactive (cotton) Dyes Staff.</p>
            <p>More than 90 Percent of the Largest dying houses in Egypt depend on Al Rowad Chemicals® dying Products.</p>
            <p>AL Rowad Chemicals® is a sole partner for Daelim Starlet for Machine Labs used for Fabric dyeing and Pharmaceuticals.</p>
          
        </div>
      </div>
    </div>

    <hr>
    <% include ../partials/footer %>
  
  
  
    
