<% include ../partials/header %>

    <!-- Page Header -->
     <header class="masthead" style="background-image: url('https://static1.squarespace.com/static/5659c9cde4b05079e4b0c3d9/t/5b85132688251b6aa6f6c1e1/1535447849847/contact-us-wallpaper.jpg?format=1500w')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 class="intrans heading">Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container sub_animation">
      <div class="row">
        <div class="col-3">
            <h3><strong><em>General Manager :</em></strong></h3>
            <h4>Yehia Abdel Rahman</h4>
            <p><em>Mobile : </em>+20-01001630968</p>
            <p><em>Telephone : </em>+202-38834591</p>
            <a class="btn btn-outline-info" href="https://www.facebook.com/Al-Rowad-Chemicals-1591414594428923/"><i class="fab fa-facebook-square"></i> Facebook</a>
      </div>
      <div class="col-8 ml-5">
        <iframe class="ml-5 mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.215117144897!2d31.352197815116746!3d30.116657381856076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50299fd7f2518d85!2sAl+Rowad+Chemicals!5e0!3m2!1sen!2seg!4v1549106884001" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        </div>
      </div>
    </div>

    <hr>
    <% include ../partials/footer %>