<% include ../partials/header %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1495302950108-244d94550568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 class="intrans">Optical Brighteners</h1>
              <span class="sub_animation" style="font-size:23px">By <a class="anchor" href="http://samw21.koreasme.com/en/" target ="_blank">Samwon Industrial</a></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
          <table class="table table-striped cssTable my-5">
              <thread>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Series</th>
                </tr>
                <tr class="align-items-center">
                  <td rowspan="3"><a target="_blank" href="http://samw21.koreasme.com/en/m02_02_01.html">THREETEX™ Series</a></td>
                  <td>Polyester</td>
                </tr>
                <tr>
                  <td>P/C[T/C],P/R[T/R]</td>
                </tr>
                <tr>
                  <td>Plastic</td>
                </tr>
                <tr>
                  <td rowspan="5"><a target="_blank" href="http://samw21.koreasme.com/en/m02_03_01.html">THREEPHOR™ Series</a></td>
                  <td>Cotton</td>
                </tr>
                <tr>
                  <td>Nylon</td>
                </tr>
                <tr>
                  <td>Acetate,Wool,Acryl</td>
                </tr>
                <tr>
                  <td>Paper</td>
                </tr>
                <tr>
                  <td>Detergent</td>
                </tr>
                <tr>
                  <td><a target="_blank" href="http://samw21.koreasme.com/en/m02_04_01.html">THREEPHOR™</a></td>
                  <td>Color Developer</td>
                </tr>
                <tr>
                  <td><a target="_blank" href="http://samw21.koreasme.com/en/m02_07_01.html">THREENIR™</a></td>
                  <td>NIR</td>
                </tr>
                <tr>
                  <td><a target="_blank" href="http://samw21.koreasme.com/en/m02_05_01.html">THREESORB™</a></td>
                  <td>UV-Absorber</td>
                </tr>
                <tr>
                  <td><a target="_blank" href="http://samw21.koreasme.com/en/m02_01.html">Fluorescent Brighteners</a></td>
                  <td>------</td>
                </tr>
                <tr>
                  <td><a target="_blank" href="http://samw21.koreasme.com/en/m02_06_01.html">OPTABIAD™</a></td>
                  <td>Water Repellency</td>
                </tr>
              </thread>
          </table>
      </div>
    </div>

    <hr>

   

    <% include ../partials/footer %>