
.changefont{
  font-weight: normal;
  font-size: 30px
}
.anchor{
  color: white;
}
a{
  text-decoration: none;
}
.cssTable td 
{
    text-align: center; 
    vertical-align: middle;
}

.mytable{
  font-weight: 100;
}
.icon {
    background: url('../img/logo3.svg');
    height: 35px;
    width: 35px;
    display: block;
    /* Other styles here */
}
.dimensions{
  width:580px;
  height:350px;
}

#head-h1{
  padding: 100px;
}
.slideshow { 
  position: static;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
/*to animate the list items*/




.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 70% 80%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 50s linear infinite;
          animation: imageAnimation 50s linear infinite; 
}

/*adding the background images to the list items*/

.slideshow li:nth-child(1) { 
  background-image: url("../img/1.jpg") 
}
.slideshow li:nth-child(2) { 
  background-image: url("../img/5.jpg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url("../img/3.jpg");
  -webkit-animation-delay: 20s;
          animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url("../img/2.jpg");
  -webkit-animation-delay: 30s;
          animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url("../img/4.jpg");
  -webkit-animation-delay: 40s;
          animation-delay: 40s; 
}
/*.slideshow li:nth-child(6) { */
/*  background-image: url(/img/5.jpg);*/
/*  animation-delay: 50s; */
/*}*/

/*changing the opacity to animate the pictures*/
/*also imageAnimation refers to the variable set above ^*/
@-webkit-keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    -webkit-animation-timing-function: ease-in; 
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    -webkit-animation-timing-function: ease-in; 
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

/* some additional css */
div.news{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
div.news img{
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  max-height: 400px
}
/* show series file */
div.series{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding:40px 0;
  margin:0 auto
}

div.series p.app, div.series h4{
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: left
}
div.series p.app{
  padding:0 20px 0 0;
  margin:0
}

div.series h4{
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin:0;
  padding: 0;
  font-weight: normal
}

/* the animated photos on the homepage */

.img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


div.img-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.img-item * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.img-item img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.img-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  font-size: 34px;
  color:white;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

div.img-item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.img-item.blue {
  background-color: #34495e;
}

div.img-item.red {
  background-color: #e74c3c;
}


div.img-item.green {
  background-color: #16a085;
}


.img-item:hover img{
  opacity:0.3;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.img-item *{
  -webkit-transition-duration:1s;
       -o-transition-duration:1s;
          transition-duration:1s
}
.img-item span{
  -webkit-transform:translate(-130%,-60%) scale(0);
      -ms-transform:translate(-130%,-60%) scale(0);
          transform:translate(-130%,-60%) scale(0)
}
.img-item:hover span{
  -webkit-transform:translate(-130%,-60%) scale(1);
      -ms-transform:translate(-130%,-60%) scale(1);
          transform:translate(-130%,-60%) scale(1);
}

/* animating the titles */

.intrans{
  opacity:0;
  margin-bottom:300px;
  -webkit-animation:intransition 1s ease-out forwards;
          animation:intransition 1s ease-out forwards 
}

@-webkit-keyframes intransition{
  100%{
      margin-bottom:0;
      opacity: 1;
  }
}

@keyframes intransition{
  100%{
      margin-bottom:0;
      opacity: 1;
  }
}

nav{
  opacity:0;
  -webkit-animation:navbar_start 1s linear forwards 2s;
          animation:navbar_start 1s linear forwards 2s;
}

@-webkit-keyframes navbar_start{
  100%{
    opacity:1;
  }
}

@keyframes navbar_start{
  100%{
    opacity:1;
  }
}

.sub_animation{
  opacity:0;
  -webkit-animation:navbar_start 1s linear forwards 1s;
          animation:navbar_start 1s linear forwards 1s
}

