@media (max-width: 800px) {
	* {
		font-size: 9px;
	}
	#animation {
		display: none;
	}
	.masthead {
		background-size: contain;
		height: 400px;
	}
	.page-heading {
		margin: 0;
	}
	div .container {
		display: none;
	}
	.anchor {
		font-size: 16px;
	}

	/* div.img-item {
		height: 60px;
	}
	div.img-item img {
		opacity: 0.5;
	}
	div.img-item a {
		opacity: 1;
    } */
	.row {
		width: 100%;
		/* margin-right: 20px; */
		margin: 10px;
		/* font-size: 20px; */
	}
	.dimensions {
		height: 150px;
		/* width: 400px; */
	}
	a.btn.btn-outline-primary {
		font-size: 10px;
	}
	div.col-lg-4 p {
		font-size: 10px;
	}
	.page-heading span.sub_animation,
	span.subheading {
		display: none;
	}
	#map {
		display: none;
	}
	a.btn .btn-outline-info {
		font-size: 8px;
	}
	div.card-body > h5 {
		font-size: 13px;
		padding: 5px 4px;
	}
	div.card-body > a.btn {
		padding: 10px;
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
	}
	div.thumbnail > img.img-responsive {
		width: 90%;
		height: 70%;
	}
	div.col-md-11 > p {
		font-size: 10px;
	}
	td > a {
		font-size: 12px;
	}
	div.row.my-3 > div.col-11 .border-bottom .border-secondary {
		display: flex;
		float: none;
		flex-direction: column;
	}
	div.col-lg-8.col-md-10.mx-auto > h2 {
		font-size: 15px;
	}
	div.col-lg-8.col-md-10.mx-auto > p {
		font-size: 12px;
	}
	#facebook_btn {
		font-size: 9px;
	}
	#contact_me {
		min-width: 100%;
		flex: 1;
	}
	#contact_me > p {
		font-size: 13px;
	}
	#contact_me > h3 {
		font-size: 24px;
	}
	#color {
		height: 190px;
	}
	div.series h4 > a {
		font-size: 17px;
	}
}
